nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarScroll', aria-controls='navbarScroll', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarScroll.collapse.navbar-collapse
      ul.navbar-nav.me-auto.my-2.my-lg-0.navbar-nav-scroll(style='--bs-scroll-height: 100px;')
        li.nav-item
          a.nav-link.active(aria-current='page', href='/') Home
        li.nav-item
          a.nav-link(href='/leaderboard') Leaderboard
        li.nav-item.dropdown
          a#navbarScrollingDropdown.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false') Me
          ul.dropdown-menu(aria-labelledby='navbarScrollingDropdown')
            li
              a.dropdown-item(href='/user-info') User info
            li
              a.dropdown-item(href='/update-user-info') Update user
            li
              a.dropdown-item(href='/play-history') Play history
      form.d-flex
        a.btn.btn-primary.me-2(href='/users/signIn', role='button') Logout