body {
  /* background-image: url("../bg-img.jpg"); */
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../bg-img.jpg");
}

.game-info {
  position: absolute;
  top: 11vh;
  left: 50%;
  transform: translateX(-50%);
}

.game-title {
  font-size: 50px;
  letter-spacing: 3px;
}

.game-player {
  margin-top: -10px;
}
